<h1> Log In </h1>

<form method="POST" action="/login">
    Name: <input type="text" name="name"> </br>
    Password: <input type="password" name="password"></br>
    <input type="submit" name="submit" id="submit "value="Login">
</form>

<div>
    <a href="/">Home</a>
</div>