<h2> Create Disc </h2>

<form method="POST" action="/discs/new">
    Name:<input type="text" name="name"></br>
    Color:<input type ="text" name="color"></br>
    Weight:<input type ="text" name="weight"></br>
    <input type="submit" value="Create Discs">
</form> 